html,body{margin:0;padding:0;}
		
body{
	font:14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:1.5em;
	color:#444;
	background:#fff;		
	}	

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:0;
	line-height:1.1em;
	color:#000;
	}	
h1{font-size:2em;margin-bottom:.5em;}	
h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
h4{font-size:1.25em;margin-bottom:.6em;}
h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}

a, a:visited{
	text-decoration:none;
	}
a:hover{color:#999;}

header, nav, article, section, footer, address {display:block;}
	
header{
	height:32px;
	overflow:hidden;
	background:#e1e1e1;
	background:-webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#e1e1e1));
	background:-moz-linear-gradient(top,  #d1d1d1,  #e1e1e1);
	padding:0 5px;
	}
header h1{
	line-height:32px;
	font-size:14px;
	text-shadow:#fff 0 1px 0;
	text-align:center;
	}

nav{
	height:28px;
	overflow:hidden;
	}
nav ul{
	margin:0;
	padding:0 5px;
	width:100%;
	height:28px;
	-moz-box-shadow:inset 0 2px 2px #999;
	-webkit-box-shadow:inset 0 2px 2px #999;
	box-shadow:inset 0 2px 2px #999;
	background:#bbb;
	}
nav li{
	list-style:none;
	float:left;
	height:24px;
	line-height:24px;
	-moz-box-shadow:0 0 3px #888;
	-webkit-box-shadow:0 0 3px #888;
	box-shadow:0 0 3px #888;
	-webkit-border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	margin:0 2px;
	width:100px;
	overflow:hidden;
	position:relative;
	background:#ccc;
	background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
	background:-moz-linear-gradient(top,  #ccc,  #aaa);
	}
nav li a, nav li a:visited, nav li a:hover{
	list-style:none;
	display:block;
	position:absolute;
	top:0;
	left:-2px;
	height:24px;
	line-height:24px;
	width:104px;	
	text-align:center;
	color:#333;	
	font-size:11px;
	text-shadow:#e8e8e8 0 1px 0;
	-moz-box-shadow:inset 0 1px 1px #888;
	-webkit-box-shadow:inset 0 1px 1px #888;
	box-shadow:inset 0 1px 1px #888;
	}	
nav li.selected{
	background:#e1e1e1;
	background:-webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d1d1d1));
	background:-moz-linear-gradient(top,  #e1e1e1,  #d1d1d1);
	}
nav li.selected a{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;	
	}	
nav li a:focus{outline:none;}

/* style your sections here */
section{
	padding:20px;
	}

   .odd {
        background:#06f;
        color:#e4e4e4;
        }
                            
    .table-test-odd {
        width:400px;
        border-collapse:collapse;
        border:1px #e4e4e4 solid;
        }

#id-name table tr {
background:#fff;
}
 
#id-name table tr:nth-child(odd) {
background:#5dc8cd;
}

#upload{
margin:30px 200px; padding:15px;
font-weight:bold; font-size:1.3em;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
background:#f2f2f2;
color:#3366cc;
border:1px solid #ccc;
width:150px;
cursor:pointer !important;
-moz-border-radius:5px; -webkit-border-radius:5px;
}