<?php
$host = "localhost";		// your mySQL server host
$account = "username";		// your mySQL username
$password = "passwd";		// your mySQL password
$dbname = "database_name";	// database name where all tables stored or will be stored
$wot_host = "worldoftanks.ru"; // leave it unchanged if you plan use it on Russian cluster
// Next lines where you can set any number of your clans
// clan_id -- your clanid, main property which would be used for gathering information about your clan
// clan_tag -- your clan tag, will be shown as tab on the top of the page
// clan_name -- your clan name
$clan_array = array (
	array("clan_id" => "1", "clan_tag" => "[SMPLC]",  "clan_name" => "Sample clan"),
);
$clanrange = array(
	"leader" => "командир",
	"private" => "солдат",
	"recruit" => "новобранец",
	"diplomat" => "дипломат",
	"commander" => "полевой командир",
	"recruiter"=>"вербовщик",
	"vice_leader"=>"замком",
	"treasurer" =>"казначей"
);
$hosttime = " +0 hour";		// timezone shift

$timetolife = 30;  // time to life stat for each tank
$max_player_request=10; // количество одновременных запросов к серверам КВГ(желательно в диапазоне до 20)
$req_freq=30; // максимальная пауза для неиграющих бойцов
// устанавливать приемерно равным 24/((ОбщееЧислоБойцов/max_player_request)/КоличествоЗапросовВЧасПоКрону)
//формула приблизительная, цифра нужна для отладки, в дальнейшем будет произведен расчёт без "глобальной" переменной
//чем число больше-тем меньше нагрузка-тем реже обновляются неиграющие.
$appid="demo";
?>
